/* Extendable classes */
.flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-background {
  background-image: url('/assets/images/main-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  @media only screen and (min-width: 1920px) {
    background-size: 100vw;
  }
}
/* Extendable classes END*/

/* Responsive Mixins */
@mixin smallPhoneMixin {
  @media only screen and (max-width: 600px) {
    @content;
  }
}
@mixin mediumPhoneMixin {
  @media only screen and (min-width: 325px) and (max-width: 992px) {
    @content;
  }
}
@mixin largePhoneMixin {
  @media only screen and (min-width: 600px) and (max-width: 768px) {
    @content;
  }
}
@mixin tabletMixin {
  @media only screen and (min-width: 768px) and (max-width: 992px) {
    @content;
  }
}
@mixin smallDesktopMixin {
  @media only screen and (min-width: 992px) and (max-width: 1200px) {
    @content;
  }
}
@mixin largeDesktopMixin {
  @media only screen and (min-width: 1200px) and (max-width: 1440px) {
    @content;
  }
}
@mixin ExtraLargeDesktopMixin {
  @media only screen and (min-width: 1440px) {
    @content;
  }
}
/* Responsive Mixins END*/
